@charset "utf-8";

/* @font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:400;
	src:url(fonts/NotoSansKR-WEB/NotoSansKR-Regular.woff) format('woff'),
	url(fonts/NotoSansKR-WEB/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:600;
	src:url(fonts/NotoSansKR-WEB/NotoSansKR-Bold.woff) format('woff'),
	url(fonts/NotoSansKR-WEB/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {font-family:'Noto Serif KR';font-style:normal;font-weight:400;
	src:url(fonts/NotoSerifKR-WEB/NotoSerifKR-Regular.woff) format('woff'),
	url(fonts/NotoSerifKR-WEB/NotoSerifKR-Regular.otf) format('opentype');
}
@font-face {font-family:'Noto Serif KR';font-style:normal;font-weight:600;
	src:url(fonts/NotoSerifKR-WEB/NotoSerifKR-Bold.woff) format('woff'),
	url(fonts/NotoSerifKR-WEB/NotoSerifKR-Bold.otf) format('opentype');
} */

@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:400;
	src:url(fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff) format('woff'),
	url(fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.otf) format('opentype');
}
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:600;
	src:url(fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff) format('woff'),
	url(fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.otf) format('opentype');
}

@font-face {font-family:'Noto Serif KR';font-style:normal;font-weight:400;
	src:url(fonts/NotoSerifCJKkr/NotoSerifCJKkr-Regular.woff) format('woff'),
	url(fonts/NotoSerifCJKkr/NotoSerifCJKkr-Regular.otf) format('opentype');
}
@font-face {font-family:'Noto Serif KR';font-style:normal;font-weight:600;
	src:url(fonts/NotoSerifCJKkr/NotoSerifCJKkr-Bold.woff) format('woff'),
	url(fonts/NotoSerifCJKkr/NotoSerifCJKkr-Bold.otf) format('opentype');
}

@font-face {font-family:'YetHangul';font-style:normal;font-weight:400;
	src:url(fonts/NanumBarunGothic-YetHangul/NanumBarunGothic-YetHangul.woff) format('woff'),
	url(fonts/NanumBarunGothic-YetHangul/NanumBarunGothic-YetHangul.otf) format('opentype');
}

body{font-family :'Noto Sans KR','YetHangul','새굴림','_sans';}
input {font-family :'Noto Sans KR','YetHangul','새굴림','_sans';}
select {font-family :'Noto Sans KR','_sans';}
textarea {font-family :'Noto Sans KR','YetHangul','새굴림','_sans';}